body {

    margin: 0;
    font-family: sans-serif;

    justify-content: center;
    align-items: center;

    color: #3091af;
}


form {
    text-align: center;
}


/* Home page */

.home_page {
    width: 60%;
    max-width: 400px;
    font-size: 15px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    border: solid 2px #3091af;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.home_page input,
label,
textarea {

    width: 90%;
    padding: 10px;
    margin: 10px;
    border-width: 1px;
    border-radius: 5px;
    color: #0c0b0b;

}



/* Data Form */


.dataform {
    width: 80%;
    max-width: 500px;
    font-size: 15px;
    text-align: left;
    margin: 50px auto;
    margin-bottom: 100px;
    padding: 20px;
    border-radius: 10px;
    border: solid 2px #3091af;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.dataform input,
label,
textarea {

    width: 90%;
    padding: 10px;
    margin: 10px;
    border-width: 1px;
    border-radius: 5px;
    color: #0c0b0b;
}

.button {
    width: 35%;
    background: #33a0e9;
    font-size: 15px;
    color: #fff;
    padding: 10px;
    margin: 10px;
    border-width: 0px;
    border-radius: 5px;

}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 25px 0;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table,
th,
td {
    padding: 10px 5px;
    text-align: left;
}

table thead tr {
    background-color: #33a0e9;
    color: #fff;
    text-align: left;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #33a0e9;
}



.footer {

    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 5px;
    background-color: #0c0b0b;
    color: #fff;
    text-align: center;
    font-size: 17px;



}
